.folder-container {
  font-family: "Open Sans", sans-serif;
  width: 80px;
  height: 80px;
  text-align: center;
  position: absolute;
  cursor: default;
  user-select: none;
  overflow-y: hidden;
}

.folder-name {
  font-size: 0.9rem;
  font-weight: 100;
  color: var(--white);
  text-shadow: 0px 1px 2px black;
  word-wrap: break-word;
}

.folder-icon {
  width: 50px;
  height: 50px;
}

.folder-icon:hover {
  opacity: 0.9;
}

.folder-container:hover {
  background-color: #85f3fb1f;
  outline: 1px solid #e2f5f7a8;
}

.folder-container:focus {
  height: auto;
  min-height: 80px;
  overflow-y: visible;
}

.active {
  z-index: 1;
}

@media screen and (max-width: 900px) {
  .folder-container:focus {
    min-height: 60px;
  }

  .folder-container {
    width: 50px;
    height: 50px;
  }

  .folder-icon {
    width: 30px;
    height: 30px;
  }

  .folder-name {
    font-size: 0.8rem;
  }
}
