.window-navbar-container {
  height: 30px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  left: 0px;
  user-select: none;
  cursor: default;
  z-index: 2;
}

.navbar-white {
  background-color: var(--white);
}

.navbar-black {
  background-color: var(--black);
}

.container-items-right {
  display: flex;
  height: 100%;
}

.container-item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.6rem;
}

.icon-navbar {
  height: 80%;
}

.icon-white * {
  fill: var(--black);
}

.icon-black * {
  fill: var(--white);
}

.container-item-white:hover {
  background-color: var(--shine-gray-windows);
}

.container-item-black:hover {
  background-color: var(--gray-windows);
}

.container-item:last-child:hover {
  background-color: var(--red-windows);
}

.container-items-left {
  display: flex;
  align-items: center;
}

.item-left-title {
  font-weight: 500;
  margin-left: 0.3rem;
}

.item-left-title-black {
  color: var(--white);
}

.item-left-title-white {
  color: var(--black);
}

.folder-icon {
  height: 25px;
  width: 25px;
  padding-left: 0.6rem;
}
