:root {
  --dark-windows: #0d0d0d;
  --black-windows: #19191a;
  --light-gray-windows: #525253;
  --shine-gray-windows: #b6b5b5;
  --gray-windows: #313131;
  --blue-windows: #0279d8;
  --red-windows: rgb(209, 34, 34);
  --yellow-windows: #f0dd71;
  --white: #fff;
  --black: #000;
}

.app {
  width: 100vw;
  height: 100vh;
}

.fullscreen-off {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.598);
}

@media screen and (max-width: 500px) {
  .fullscreen-icon {
    display: none;
  }
}
